Package: bro
Version: 1.0-1
Section: utils
Priority: optional
Architecture: all
Maintainer: Crandall <crandall@gonzaga.edu>
Description: This is a test application
 for packaging bros who need packagin'
